<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bar.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @bar.address %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @bar.phone_number %>
</p>

<p>
  <strong>Avg rating:</strong>
  <%= @bar.avg_rating %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @bar.rating_id %>
</p>

<p>
  <strong>Music:</strong>
  <%= @bar.music %>
</p>

<p>
  <strong>Sports:</strong>
  <%= @bar.sports %>
</p>

<p>
  <strong>Dancing:</strong>
  <%= @bar.dancing %>
</p>

<p>
  <strong>Beer:</strong>
  <%= @bar.beer %>
</p>

<p>
  <strong>Cocktails:</strong>
  <%= @bar.cocktails %>
</p>

<p>
  <strong>Wine:</strong>
  <%= @bar.wine %>
</p>

<p>
  <strong>Rooftop:</strong>
  <%= @bar.rooftop %>
</p>

<p>
  <strong>Cheap food:</strong>
  <%= @bar.cheap_food %>
</p>

<p>
  <strong>Food:</strong>
  <%= @bar.food %>
</p>

<p>
  <strong>Dress code:</strong>
  <%= @bar.dress_code %>
</p>

<p>
  <strong>Line:</strong>
  <%= @bar.line %>
</p>

<p>
  <strong>Popular nights:</strong>
  <%= @bar.popular_nights %>
</p>

<p>
  <strong>Karaoke:</strong>
  <%= @bar.karaoke %>
</p>

<%= link_to 'Edit', edit_bar_path(@bar) %> |
<%= link_to 'Back', bars_path %>
