<div class="map">
	<p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
	<%# image_tag ( "WilliamsburgMap1.svg" )%>
	<%= render 'home/map_image' %>

	<!-- Hover modal -->
	<% @bars.each do |bar| %>
		<div id="bar_<%=bar_id%>" class="maphover">
			<div class="row">
		    <div class="col-md-6">
						<%= image_tag ( "#{bar.image}" ), :class => 'image' %>
				</div>
		    <div class="col-md-6">
					<h3><%= bar.name %></h3>
					<p><%= bar.address %></p>
					<P><%= bar.phone_number %></P>
				</div>
			</div>
		</div>
	<% end %>
</div>