<div id="map_daddy" class="map">
	<p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
	<%# image_tag ( "WilliamsburgMap1.svg" )%>
	<%= render 'home/map_image' %>

	<!-- bar_summary_2 -->
	<!-- bar_detail_2 -->
	<!-- Hover modal -->
	<% @bars.each do |bar| %>
		<div id="bar_summary_<%= bar.id %>" style="display:none;background-image:url(<%= "#{bar.image}" %>);" class="bar_summary container">
			<h3><%= bar.name %></h3>
			<p><%= bar.address %></p>
			<p><%= bar.phone_number %></p>
		</div>
	<% end %>

	<% @bars.each do |bar| %>
    <div id="bar_map_info_<%= bar.id %>" style="display:none;" class="bar_info container">
        <div class="row close">
            <a class="closem">x</a>
        </div>
    <div class="row">
      <div class="col-md-6">
         <%= image_tag ( "#{bar.image}" ), :class => 'image' %>
      </div>
      <div class="col-md-6 modalinformation">
        <div class="row">
          <h2><strong><em><%= bar.name %></em></strong></h2>
        </div>
        <div class="row">
          <p><%= bar.address %></p>
          <p><%= bar.phone_number %></p>
        </div>
        <div class="row desc">
          <p><%= bar.description %></p>
        </div>
        <div class="row modallists">
          <div class="col-md-4">
            <p><strong>Amenities:</strong></p>
            <%= output_attributes bar %>
          </div>
          <div class="col-md-5">
            <p><strong>Popular Nights:</strong></p>
            <div id="popnights">
              <%= bar.popular_nights %>
            </div>
          </div>
          <div class="col-md-3" id="rating">
            <p><strong>Rating<br>(1-10):</strong></p>
            <p><%= bar.rating_id %></p>
          </div>
        </div>
      </div>
    </div>
    </div>
<% end %>

<!-- station modal -->
<!-- 
	<div id="subway_hewes_modal" class="subway_modal">
		<p>Hewes St.</p>
		<p>Trains: J, M</p>
	</div>

</div> -->

<%= render 'home/map_image' %>
<script>
document.querySelectorAll(".bar_icon").forEach(function(icon){
	let id = icon.id.slice(icon.id.lastIndexOf("_")+1),
	    summary_name = "#bar_summary_"+id,
	    info_name = "#bar_map_info_"+id,
	    close = document.querySelector(info_name + ' .closem');
	console.log("summary_name",summary_name);
	// SUMMARY HOVER
	icon.addEventListener("mouseover",function(event){
	    let rect = icon.getBoundingClientRect(),
	        modal = document.querySelector(summary_name);
		console.log("summary_name",summary_name,document.querySelector(summary_name));
		modal.style.display = "inline-block";
		modal.style.top = Math.max(0,rect.top - 100) + "px";
		modal.style.left = Math.max(0,rect.left - 150) + "px";
	});
	icon.addEventListener("mouseout",function(event){
		document.querySelector(summary_name).style.display = "none";
	});
	// DETAIL CLICK
    console.log("info_name",info_name);
    close.addEventListener('click', function() {
        document.querySelector(info_name).style.display = 'none';
    });
    icon.addEventListener("click",function(event){
        let rect = icon.getBoundingClientRect(),
            modal = document.querySelector(info_name);
        console.log("info_name",info_name,document.querySelector(info_name));
        modal.style.display = "inline-block";
    });

});
document.querySelectorAll(".subway_icon").forEach(function(icon){
	let modal_name = "#" + icon.id + "_modal";
	console.log("icon, modal",icon,modal_name);
	icon.addEventListener("mouseover", function(event){
		let rect = icon.getBoundingClientRect(),
			modal = document.querySelector(modal_name);
		console.log( modal );
		modal.style.display = "inline-block";
	})
})
</script>