<div class="row home">
	<% if user_signed_in? %>
		<%= render '/home/fav' %>
	<% end %>
	<div class="col-md-1" id="changeview">
		<a href="#" class="row openlist">
				<h2 class="rotate">List</h2>
		</a>
		<a href="#" class="row openmap">
				<h2 class="rotate">Map</h2>
		</a>
	</div>
	<% if user_signed_in? %>
		<div class="col-md-10" id="homebox">
	<% else %>
		<div class="col-md-11" id="homebox">
	<% end %>
			<%= render '/home/list' %>
		 	<%= render '/home/map' %>
	 	</div>
</div>

<!-- ****************** Mobile View ****************** -->

<div class="row home2">
	<div class="col-md-12">
		<% if user_signed_in? %>
			<%= render '/home/fav2' %>
		<% end %>
		<div class="row" id="changeview">
			<a href="#" class="openlist">
					<h2>List</h2>
			</a>
			<a href="#" class="openmap">
					<h2>Map</h2>
			</a>
		</div>
		<div class="row" class="homebox">
			<%= render '/home/list2' %>
		 	<%= render '/home/map' %>
	 	</div>
	</div>
</div>
