<%= form_with(model: bar_rating, local: true) do |form| %>
  <% if bar_rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bar_rating.errors.count, "error") %> prohibited this bar_rating from being saved:</h2>

      <ul>
      <% bar_rating.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :bar_id %>
    <%= form.number_field :bar_id, id: :bar_rating_bar_id %>
  </div>

  <div class="field">
    <%= form.label :rating_id %>
    <%= form.number_field :rating_id, id: :bar_rating_rating_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
