<p id="notice"><%= notice %></p>

<h1>Bar Ratings</h1>

<table>
  <thead>
    <tr>
      <th>Bar</th>
      <th>Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bar_ratings.each do |bar_rating| %>
      <tr>
        <td><%= bar_rating.bar_id %></td>
        <td><%= bar_rating.rating_id %></td>
        <td><%= link_to 'Show', bar_rating %></td>
        <td><%= link_to 'Edit', edit_bar_rating_path(bar_rating) %></td>
        <td><%= link_to 'Destroy', bar_rating, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bar Rating', new_bar_rating_path %>
