<!DOCTYPE html>
<html>
  <head>
    <title>Wherenext</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap-grid.css">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Work+Sans" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
 		
 		<header> 
 			<div class="container">
 				<div class="row">
	 				<div class="col-md-8">
	 					<h1>Where Next?</h1>
	 				</div>
	 				<div class="col-md-1">
	 					<%= button_to "Sign Up", :id => "signup" %>
          </div>
          <div class="col-md-1">
	 					<%= button_to "Sign In", :id => "signin" %>
          </div>
          <div class="col-md-2">
	 				</div>
 				</div>		
 			</div>
 		</header>

    <%= yield %>

    <footer>
    	<div class="container">
				<div class="row">
				<div class="col-md-4">
 				</div>
 				<div class="col-md-4">
 				</div>
 				<div class="col-md-4">
 				</div>
				</div>
    	</div>
    </footer>

  </body>
</html>
